<form action="/create" method="POST">
  <h2>Create </h2>

  <div class="login">
    <input type="text" name="title1" placeholder="Имя и Фамилия">
    <label> </label>
    <br >    
    <input type="text" name="email" placeholder="Email">
    <label> </label>
    <input type="password" name="parol" placeholder="Password">
    <label> </label>
    <input type="text" name="age" placeholder="Age">
    <label> </label>
    <input type="text" name="number" placeholder="Оценка">
    <label> </label>
    <input type="text" name="city" placeholder="Город">
    <label> </label>
  </div>

  <button type="submit" class="btn" text-alig="center";>Create</button>
</form>