<form action="/info" method="POST">
<script>
function result(){ document.test3.res.value=document.hidden.id.value}
</script>
  <h2>Информация о человеке </h2>  
Ответ<input type="text3" name="id2" size="100"><br>